doctype html
html( lang="en" )
    head
        meta( charset="UTF-8" )/
        title
            | docs - kouto swiss - A complete CSS framework for Stylus

        meta( name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0" )/

        link( rel="stylesheet", href="styles/styles.css" )/

        //if lt IE 9
            script( src="http://html5shiv.googlecode.com/svn/trunk/html5.js" )

    body
        #wrapper
            header
                h1
                    a( href=homepage )
                        span kouto swiss
                h2= description

                a( href="javascript:void(0)" ) toggle nav

                nav
                    ul

            section.about
                p
                    | The documentation below refers to kouto swiss
                    = " "
                    strong.version v0.0.0
                    | , build on top of Stylus
                    = " "
                    strong.stylus v0.0.0

            div.docs

            footer
                p
                    strong kouto swiss
                    = " "
                    | is maintained by
                    = " "
                    a( href=author.url )= author.name
                    | .
                    | Any question? Please tweet
                    = " "
                    a( href="//twitter.com/leny_be" ) @leny_be

                p
                    strong kouto swiss
                    = " "
                    | is Copyright ©2014
                    = " "
                    a( href=author.url )= author.name
                    | .
                    = " "
                    | It is free software, and may be redistributed under the terms specified in the LICENSE file.

                div.buttons
                    a( href=github ) github
                    a( href="docs.html" ) docs

        script( src="js/jquery.min.js" )
        script( src="js/docs.js" )
