doctype html
html( lang="en" )
    head
        meta( charset="UTF-8" )/
        title
            | demo/
            = name + " "
            | - kouto swiss - A complete CSS framework for Stylus

        meta( name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0" )/

        link( rel="stylesheet", href="styles/styles.css" )/

        //if lt IE 9
            script( src="http://html5shiv.googlecode.com/svn/trunk/html5.js" )

    body
        #wrapper
            header
                h1
                    a( href=homepage )
                        span kouto swiss
                h2= description

                a( href="javascript:void(0)" ) toggle nav

                nav
                    ul
                        li
                            strong reset
                            ul
                                li
                                    a( href="#" ) meyer-reset
                                li
                                    a( href="#" ) box-sizing-reset
                        li
                            strong functions
                            ul
                                li
                                    a( href="#" ) percent
                                li
                                    a( href="#" ) em
                                li
                                    a( href="#" ) rem
                                li
                                    a( href="#" ) calc
                                li
                                    a.active( href="#" ) font-stack
                                li
                                    a( href="#" ) linear-gradient
                                li
                                    a( href="#" ) radial-gradient
                                li
                                    a( href="#" ) repeating-linear-gradient
                                li
                                    a( href="#" ) repeating-radial-gradient
                                li
                                    a( href="#" ) monochrome
                                li
                                    a( href="#" ) split-complements
                                li
                                    a( href="#" ) analogous
                                li
                                    a( href="#" ) triad
                                li
                                    a( href="#" ) quad
                                li
                                    a( href="#" ) luminosity
                                li
                                    a( href="#" ) color-fallback
                                li
                                    a( href="#" ) easing
                        li
                            strong utilities
                            ul
                                li
                                    a( href="#" ) colors
                                li
                                    a( href="#" ) vendors
                                li
                                    a( href="#" ) clearfix
                                li
                                    a( href="#" ) position
                                li
                                    a( href="#" ) size
                                li
                                    a( href="#" ) overflow
                                li
                                    a( href="#" ) placeholder
                                li
                                    a( href="#" ) font-face
                                li
                                    a( href="#" ) modular-scale
                                li
                                    a( href="#" ) golden-ratio
                                li
                                    a( href="#" ) media-query
                                li
                                    a( href="#" ) retina-query
                                li
                                    a( href="#" ) retina-image
                                li
                                    a( href="#" ) hide-text
                                li
                                    a( href="#" ) triangle
                        li
                            strong grid system
                            ul
                                li
                                    a( href="#" ) gs
                                li
                                    a( href="#" ) row
                                li
                                    a( href="#" ) column
                                li
                                    a( href="#" ) offset

            div.docs

                h2 reset

                article
                    h1
                        code meyer-reset()

                    p A global reset, using's the <a href="http://meyerweb.com/eric/tools/css/reset/">Eric Meyer's CSS reset v2</a>.

                    h3 Usage

                    pre
                        code meyer-reset()

                    h3 Result

                    pre
                        code
                            | html,
                            | body,
                            | div,
                            | span,
                            | applet,
                            | object,
                            | iframe,
                            | h1,
                            | h2,
                            | h3,
                            | h4,
                            | h5,
                            | h6,
                            | p,
                            | blockquote,
                            | pre,
                            | a,
                            | abbr,
                            | acronym,
                            | address,
                            | big,
                            | cite,
                            | code,
                            | del,
                            | dfn,
                            | em,
                            | img,
                            | ins,
                            | kbd,
                            | q,
                            | s,
                            | samp,
                            | small,
                            | strike,
                            | strong,
                            | sub,
                            | sup,
                            | tt,
                            | var,
                            | b,
                            | u,
                            | i,
                            | center,
                            | dl,
                            | dt,
                            | dd,
                            | ol,
                            | ul,
                            | li,
                            | fieldset,
                            | form,
                            | label,
                            | legend,
                            | table,
                            | caption,
                            | tbody,
                            | tfoot,
                            | thead,
                            | tr,
                            | th,
                            | td,
                            | article,
                            | aside,
                            | canvas,
                            | details,
                            | embed,
                            | figure,
                            | figcaption,
                            | footer,
                            | header,
                            | hgroup,
                            | menu,
                            | nav,
                            | output,
                            | ruby,
                            | section,
                            | summary,
                            | time,
                            | mark,
                            | audio,
                            | video {
                            | margin: 0;
                            | padding: 0;
                            | border: 0;
                            | font-size: 100%;
                            | font: inherit;
                            | vertical-align: baseline;
                            | }
                            | article,
                            | aside,
                            | details,
                            | figcaption,
                            | figure,
                            | footer,
                            | header,
                            | hgroup,
                            | menu,
                            | nav,
                            | section {
                            | display: block;
                            | }
                            | body {
                            | line-height: 1;
                            | }
                            | ol,
                            | ul {
                            | list-style: none;
                            | }
                            | blockquote,
                            | q {
                            | quotes: none;
                            | }
                            | blockquote:before,
                            | blockquote:after,
                            | q:before,
                            | q:after {
                            | content: "";
                            | content: none;
                            | }
                            | table {
                            | border-collapse: collapse;
                            | border-spacing: 0;
                            | }

                article
                    h1
                        code box-sizing-reset()

                    p
                        | The <em>box-sizing reset</em>, setting the <code>box-sizing</code> property to <code>border-box</code>.<br/>
                        | For more information, read the post "<a href="http://www.paulirish.com/2012/box-sizing-border-box-ftw/">Box-sizing: Border-box FTW</a>" by Paul Irish.

                    h3 Usage

                    pre
                        code box-sizing-reset()

                    h3 Result

                    pre
                        code
                            | *,
                            | *:before,
                            | *:after {
                            |    box-sizing: border-box;
                            | }

                h2 functions

                article
                    h1 clearfix

                    p The clearfix mixins will output a clearfix to the selector where it is declared.

                    p The clearfix comes with three syntaxes, each return the same result.

                    blockquote
                        p This clearfix is based on <a href="http://nicolasgallagher.com/micro-clearfix-hack/">Nicolas Gallagher's micro clearfix</a>, minus the support for IE6&amp;7.

                    h3 Usage

                    pre
                        code
                            | // form one
                            | div
                            | clearfix()
                            = " "
                            | // form two
                            | div
                            | clear fix
                            = " "
                            | // form three
                            | div
                            | clear fix()

                    h3 Result

                    pre
                        code
                            | div:before,
                            | div:after {
                            | content: " ";
                            | display: table;
                            | }
                            | div:after {
                            | clear: both;
                            | }

                article
                    h1
                        code font-stack()

                    p
                        | Get a font stack to use with <code>font-family</code>.
                        br/
                        | The font stacks are taken from the site <a href="http://cssfontstack.com">cssfontstack.com</a>, by <a href="http://denisleblanc.com">Denis Leblanc</a>

                    p These are the stacks included in <strong>kouto swiss</strong>:

                    ul
                        li
                            code "Arial"
                        li
                            code "Arial Black"
                        li
                            code "Arial Narrow"
                        li
                            code "Arial Rounded MT Bold"
                        li
                            code "Avant Garde"
                        li
                            code "Calibri"
                        li
                            code "Candara"
                        li
                            code "Century Gothic"
                        li
                            code "Franklin Gothic Medium"
                        li
                            code "Futura"
                        li
                            code "Geneva"
                        li
                            code "Gill Sans"
                        li
                            code "Helvetica"
                        li
                            code "Impact"
                        li
                            code "Lucida Grande"
                        li
                            code "Optima"
                        li
                            code "Segoe UI"
                        li
                            code "Tahoma"
                        li
                            code "Trebuchet MS"
                        li
                            code "Verdana"
                        li
                            code "Baskerville"
                        li
                            code "Big Caslon"
                        li
                            code "Bodoni MT"
                        li
                            code "Book Antiqua"
                        li
                            code "Calisto MT"
                        li
                            code "Cambria"
                        li
                            code "Didot"
                        li
                            code "Garamond"
                        li
                            code "Georgia"
                        li
                            code "Goudy Old Style"
                        li
                            code "Hoefler Text"
                        li
                            code "Lucida Bright"
                        li
                            code "Palatino"
                        li
                            code "Perpetua"
                        li
                            code "Rockwell"
                        li
                            code "Rockwell Extra Bold"
                        li
                            code "Times New Roman"
                        li
                            code "Andale Mono"
                        li
                            code "Consolas"
                        li
                            code "Courier New"
                        li
                            code "Lucida Console"
                        li
                            code "Lucida Sans Typewriter"
                        li
                            code "Monaco"
                        li
                            code "Copperplate"
                        li
                            code "Papyrus"
                        li
                            code "Brush Script MT"
                        li
                            code "Kouto Swiss MT"

                    h3 Signature

                    p
                        code font-stack( name )

                    ul
                        li
                            code name
                            | : name of the stack. <strong>Must be quoted</strong>.


                    h3 Usage

                    pre
                        code
                            | body
                            | font-family font-stack( "Arial" )
                            = " "
                            | body
                            | font-family font-stack( "Helvetica" )
                            = " "
                            | body
                            | font-family font-stack( "Lucida Console" )

                    h3 Result

                    pre
                        code
                            | body {
                            | font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                            | }
                            = " "
                            | body {
                            | font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                            | }
                            = " "
                            | body {
                            | font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
                            | }

            footer
                p
                    strong kouto swiss
                    = " "
                    | is maintained by
                    = " "
                    a( href=author.url )= author.name
                    | .
                    | Any question? Please tweet
                    = " "
                    a( href="//twitter.com/krkn_be" ) @krkn_be

                p
                    strong kouto swiss
                    = " "
                    | is Copyright ©2014
                    = " "
                    a( href=author.url )= author.name
                    | .
                    = " "
                    | It is free software, and may be redistributed under the terms specified in the LICENSE file.

                div.buttons
                    a( href=github ) github
                    a( href="docs.html" ) docs
