doctype html
html( lang="en" )
    head
        meta( charset="UTF-8" )/
        title kouto swiss - A complete CSS framework for Stylus

        meta( name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, minimal-ui" )/

        link( rel="stylesheet", href="styles/styles.css" )/

        //if lt IE 9
            script( src="http://html5shiv.googlecode.com/svn/trunk/html5.js" )

    body.home
        #wrapper
            header
                h1
                    a( href=homepage )
                        span kouto swiss
                h2= description
                div.buttons
                    a( href=github ) github
                    a( href="docs.html" ) docs

            section.about
                blockquote
                    p Stylus is great, but... where's my Compass/Bourbon?

                p.punchline
                    | Here comes
                    = " "
                    strong kouto swiss
                    | , the missing css toolbox for Stylus!

                p
                    strong kouto swiss
                    = " "
                    | gives you a lot of mixins, functions and utilities to code faster, and include the power of
                    = " "
                    a( href="//caniuse.com" ) caniuse website
                    = " "
                    | to make your stylesheets fits
                    = " "
                    em your
                    = " "
                    | compatibility needs.

            section.usage
                h3 Usage

                h4 Included in compilation, with Grunt or Gulp

                h5
                    a#grunt-site( href="//gruntjs.com" ) Grunt

                p
                    | Use
                    = " "
                    a( href="//www.npmjs.org/package/grunt-contrib-stylus" ) grunt-contrib-stylus
                    | , and include
                    = " "
                    strong kouto swiss
                    = " "
                    | in your
                    = " "
                    code use
                    = " "
                    | option for the task.

                p
                    | Or use
                    = " "
                    a( href="//www.npmjs.org/package/grunt-ks-stylus" ) grunt-ks-stylus
                    | , which is a fork of
                    = " "
                    strong grunt-contrib-stylus
                    | , with
                    = " "
                    strong kouto swiss
                    = " "
                    | included.

                h5
                    a#gulp-site( href="//gulpjs.com" ) Gulp

                p
                    | Use
                    = " "
                    a( href="//www.npmjs.org/package/gulp-stylus" ) gulp-stylus
                    = " "
                    | and include
                    = " "
                    strong kouto swiss
                    = " "
                    | in your
                    = " "
                    code use
                    = " "
                    | option for the task.

                h4 Included in compilation with third-party tools.

                p
                    | To use
                    = " "
                    strong kouto swiss
                    = " "
                    | with third party tools like
                    a( href="https://incident57.com/codekit/" ) Codekit
                    = " "
                    | or
                    = " "
                    a( href="http://alphapixels.com/prepros/" ) Prepros
                    | , you should include
                    = " "
                    strong kouto swiss
                    = " "
                    | on your project by yourself. You can download it
                    = " "
                    a( href="https://github.com/leny/kouto-swiss/releases" ) on github
                    | .

                p
                    em More informations coming soon.

                h4
                    | As middleware, for
                    = " "
                    em on the fly
                    = " "
                    | compilation.

                p
                    | Here's an exemple of how to use stylus with kouto-swiss within
                    = " "
                    a( href="//www.senchalabs.org/connect/" ) Connect
                    = " "
                    | or
                    = " "
                    a( href="//expressjs.com" ) Express
                    | .

                pre
                    code.lang-javascript.
                        <span class="keyword">var</span> connect = <span class="keyword">require</span>( <span class="string">&quot;connect&quot;</span> ),
                            stylus = <span class="keyword">require</span>( <span class="string">&quot;stylus&quot;</span> ),
                            koutoSwiss = <span class="keyword">require</span>( <span class="string">&quot;kouto-swiss&quot;</span> ),
                            server = connect();

                        <span class="function"><span class="keyword">function</span> <span class="title">compile</span><span class="params">( str, path )</span> {</span>
                            <span class="keyword">return</span> stylus( str )
                                .set( <span class="string">&quot;filename&quot;</span>, path )
                                .set( <span class="string">&quot;compress&quot;</span>, <span class="keyword">true</span> )
                                .<span class="keyword">use</span>( koutoSwiss() );
                        }

                        server.<span class="keyword">use</span>( stylus.middleware( {
                            src: __dirname,
                            compile: compile
                        } ) );

                h4 Stylus API

                p To gain access to the kouto swiss tools from your Stylus files, simply add:

                pre
                    code.lang-stylus.
                        <span class="variable">@import</span> <span class="string">&quot;kouto-swiss&quot;</span>

            footer
                p
                    strong kouto swiss
                    = " "
                    | is maintained by
                    = " "
                    a( href=author.url )= author.name
                    | .
                    | Any question? Please tweet
                    = " "
                    a( href="//twitter.com/leny_be" ) @leny_be

                p
                    strong kouto swiss
                    = " "
                    | is Copyright ©2014
                    = " "
                    a( href=author.url )= author.name
                    | .
                    = " "
                    | It is free software, and may be redistributed under the terms specified in the LICENSE file.

                div.buttons
                    a( href=github ) github
                    a( href="docs.html" ) docs
